
body{
  margin: 0;
  padding: 0;
  text-align: center;
  display: grid;
  background-color: rgba(50, 115, 220, 0.3);
}
table,td ,th{
  border: 1px solid blue;
  border-spacing: 0px;
}
h3{
  font-size: 30px;
  color: red;
}
h4{
  font-size: 20px;
  color:lime;
}
h5{
  font-size: 18px;
  color:magenta;
}
table{
  table-align:center;
}


body {
    margin: 0;
    padding: 0;
    text-align: center;
    background: linear-gradient(rgba(0,0,150,0.5),rgba(0,0,50,0.5)),url("https://media.istockphoto.com/photos/hot-air-balloon-above-high-mountain-at-sunset-picture-id1001927840?k=6&m=1001927840&s=612x612&w=0&h=w_lvcuYOrpaBcf2zIA6odnRLZXKDxf3aLqjWmU3l4R0=");
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}
.contact-title {
    margin-top: 100px;
    color: #fff;
    text-transform: uppercase;
    transition: all 4s ease-in-out;
}
.contact-title h1 {
    font-family: Audiowide;
} 
.location-title h1 {
    font-family: Audiowide;
    text-transform: uppercase;
    transition: all 4s ease-in-out;
    margin-top: 100px;
    color: #fff;
}
.contact-title h2 {
font-size: 16px;
line-height: 10px;
}
.contact-title h3 {
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
form {
    margin-top: 50px;
    transition: all 4s ease-in-out;
}
.contact-area , .location-area {
position: relative;
display: flex;
justify-content: space-around;
align-items: center;
flex-wrap: wrap;
flex-direction: row;
width: 100%;
height: 200px;
}
.form-control  {
   width: 700px;
   background: transparent;
   border: none;
   outline: none;
   border-bottom: 1px solid gray;
   color: #fff;
   font-size: 18px;
   margin: 16px;
}
input {
    height: 50px;
}
form .submit {
   background: #ff5722; 
   border-color: transparent;
   color: #fff;
   font-size: 20px;
   font-weight: bold;
   letter-spacing: 2px;
   height: 50px;
   margin-top: 20px;
}
form .submit:hover {
    background-color: #f44336;
    cursor: progress;
}
.navbar {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #D4D7DE;
    background-color: #d4d7de;
    width: 100%;
    width: 100%;
    z-index: 2;
}
ul {
text-align: right;
}
li {
    display: inline-block;
    color: #000;
    padding: 18px;
}
a {
    padding: 18px;
    margin-right: 0;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    color: #000;
    border-radius: 20px;
}
a:hover {
    color: #ff5722;
    padding: 15px;
}


@import url('https://fonts.googleleapis.com/css?family=Raleway');
@import url('https://fonts.googleleapis.com/css?family=Oswald');

html, body {
    margin: opx;
    padding: opx;
    height: 100%;
    width: 100%;
}
.intro {
    height: 100%;
    width: 100%;
    margin: auto;
    background: url('img/Background Image.jpg') no-repeat 50% 50%;
    display: table;
    top: o;
    background-size: cover;
}.intro {
    display: table;
    vertical-align: middle;
    width: 100%;
    max-width: none;
}.content {
max-width: 600%;  
margin: o auto;  
text-align: center;
padding-bottom: 28%;

}
.content h1{
  font-size: 'Yantramanav,' sans-serif;  
  
}
.content h1{
   font-family: 'Yantramanav,' sans-serif;
   font-size: 600%;
   font-weight: 100;
   color:#E1EFE9;
   line-height: 80%;
}
.btn {
    font-family:'Monserrat',sans-serif;
    font-size: 138%;
    font-weight: 400;
    color: #3A6168;
    text-transform: uppercase;
    text-decoration: none;
    border: solid #3A6168;
    padding: 10px 20px;
    border-radius: 9px;
    transition: all 0.6;
}
.btn:hover {
    color: #ff5722;
    border: solid #CBDFd6 2px;

}
p{
    font-size: 150%;
   line-height: 120%;
   font-family: sans-serif;
}
/*--- Media Queries ---*/
@media screen and (max-width: 900px) {
    .content {
        padding-bottom: 30%;
    }
    .btn{
        font-size: 450%;
    }
    .content h1{
     font-size: 110%;
     padding: 9px 17px;
    }.content {
        padding-bottom: 40%;
    }
    .btn{
        font-size: 300%;
    }
    .content h1{
     font-size: 110%;
     padding: 9px 17px;
    }
    @media screen and (max-width: 400px) {

    }
    p {
       font-size: 120%; 
       line-height: 100%;
    }
    padding: 5px;
    color: #ff5722;
}
.logo {
    flex: 1 1 auto;
    margin-left: 8%;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 20px;
    float: left;
    font-family: Audiowide;
}
